<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.dao.customdao.PPMapper">

    <resultMap id="allResults" type="com.ssm.pojo.custompojo.PrizePunish">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="pp_title" jdbcType="VARCHAR" property="ppTitle"/>
        <result column="pp_type" jdbcType="VARCHAR" property="ppType"/>
        <result column="pp_money" jdbcType="DOUBLE" property="ppMoney"/>
        <result column="pp_content" jdbcType="LONGVARCHAR" property="ppContent"/>
        <result column="pp_time" jdbcType="DATE" property="ppTime"/>
    </resultMap>

    <select id="queryAllPP" resultMap="allResults">
        SELECT * FROM tb_prize_punish
    </select>

</mapper>